@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


/* .slider-container .slick-slide {
  box-sizing: border-box;
}

.slider-container .slick-slide > div {
  width: 100%;
}

.slider-container .slick-list {
  overflow: hidden;
}

.slider-container .slick-track {
  display: flex;
} */

@theme {
  --font-space: "Space Grotesk", sans-serif;
}
